.message-banner {
  background-color: #4caf50;
  color: #fff;
  padding: 0 0;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.marquee {
  display: inline-block;
  margin: 0 50px;
  padding-left: 100%; /* Start off-screen */
  animation: marquee 30s linear infinite; /* Slower animation for better readability */
}

.marquee p {
  display: inline-block;
  margin: 10px 0;
  letter-spacing: 10px;
  font-size: 18px; /* Consistent font size */
  font-weight: bold; /* Bold text for emphasis */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
